.connections-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position:relative;
    gap:15px;
}

.connections-container * {
    
    margin:0px;
  }
  
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    width:650px;
    margin:auto;
}




.solved-category{
    
    width: 630px;
    border-radius: 10px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    font-size:"155px";
    margin-bottom:5px;
}
.solved-category p{
    font-size: 600px;
}
.solved-category p span{
    font-size: 25px;
    font-weight: bold;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:4px;
    padding: 0px;
    border: none;
    background-color: #efefe6;
    
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    width:150px;
    height:80px;
}
.selected{
    background-color: rgb(59, 57, 57);
    color:white;
}

.button-group{
    display: flex;
    
    justify-content: center;
    gap: 10px;
}

.connections-button{
    border:2px black solid;
}   



.attempts-remaining{
    display: flex;
}

#attempts-remaining-bubbles{
    display: flex;
    justify-content: space-evenly;
    width: 118px;
    align-items: center;
}


.black-circle{
    opacity: 100;
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
}

@media screen and (max-width: 768px) {
    .card-container {
        max-width: 100%;
        gap:5px;
        
        margin:0px;
        
    }
    .card{
        width:20%;
        padding: 2px;
        aspect-ratio: 1 / 1;
    }


}

