@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  
}

button{
  all:unset;
  display: flex;
  
  justify-content: center;
  padding:10px;

  border-radius: 25px;
  
  border:3px solid cyan;
  
}


hr{
  width: 100%;
}

.gamecenter_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.gamecenter_players{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
}

.choose_games_container{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  gap:25px;
}

.game_chosen{
  width: 100%;
  min-height: 100vh;
  height: fit-content;


}

.game_start_container{
  width:500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap:10px;
}

@media screen and (max-width: 500px) {
  .game_start_container{
      width: 90%;
  }


  h1{
    font-size: 2em;
  }


  .Toastify__toast-container {
    position: absolute;
    margin-top: 20px;
    margin:auto;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);

    border-radius: 20px;
  }

}