@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
  display: flex;

  justify-content: center;
  padding: 10px;

  border-radius: 25px;
  cursor: pointer;
}

.gamecenter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.gamecenter_players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.choose_games_container {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 25px;
  border-bottom: 1px solid black;
}

.game_button {
  padding: 10px;
  border-radius: 0;
}
.game_button.selected {
  border-bottom: 2px cyan solid;
}
.game_chosen {
  width: 100%;

  height: fit-content;
  flex-grow: 1;
}

.game_start_container {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .game_start_container {
    width: 90%;
  }

  h1 {
    font-size: 2em;
  }

  .Toastify__toast-container {
    position: absolute;
    margin-top: 20px;
    margin: auto;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    color: white;
    border-radius: 20px;
  }
}

/* button{all:unset} */
.carousal-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-buttons {
  width: 100%;
  
}
.card-button {
  border-radius: 50%;
  position: absolute;
  z-index: 50;
}

.card-button#left {
  top: 50%;
  left: 0px;
}
.card-button#right {
  top: 50%;
  right: 0px;
}
.carousal-cards {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 50px;
  height: fit-content;
  display: flex;
  gap: 50px;
  overflow-x: hidden;
  align-items: center;
  /* padding-right: 100vw; */
}
.extra-margin {
  margin-right: 100vw;
}
.carousal-card {
  height: fit-content;
  min-width: 100%;
}
#left,#right{
  font-size: 40px;
}